[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.4"
certifi = "==2020.12.5"
chardet = "==4.0.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
dj-database-url = "==0.5.0"
django-heroku = "==0.0.0"
djangorestframework = "==3.12.4"
drf-yasg = "==1.20.0"
gunicorn = "==20.1.0"
idna = "==2.10"
inflection = "==0.5.1"
itypes = "==1.2.0"
openapi-codec = "==1.3.2"
psycopg2-binary = "==2.8.6"
pyparsing = "==2.4.7"
python-decouple = "==3.4"
pytz = "==2021.1"
requests = "==2.25.1"
"ruamel.yaml" = "==0.17.4"
"ruamel.yaml.clib" = "==0.2.2"
simplejson = "==3.17.2"
sqlparse = "==0.4.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.4"
whitenoise = "==5.2.0"
Django = "==3.2.2"
Jinja2 = "==3.0.0"
MarkupSafe = "==2.0.0"
Pillow = "==8.2.0"
geopy = "==2.1.0"
django-taggit = "==1.4.0"
taggit-selectize = "==2.10.0"
django-taggit-serializer = "==0.1.7"
django-cors-headers = "==3.7.0"
install = "*"
django-rest-knox = "==4.1.0"
braintree = "*"
sentry-sdk = "*"
django-debug-toolbar = "*"
django-import-export = "*"
cffi = "==1.14.5"
cryptography = "==3.4.7"
django-json-field = "==0.5.7"
geographiclib = "==1.50"
pycparser = "==2.20"
python-dateutil = "==2.8.1"
six = "==1.16.0"
django-currentuser = "*"
google-api-python-client = "==1.4.1"
django-utils-six = "*"
django-adminlte-3 = "*"
django-adminlte-full = "*"
django-3-jet = "*"
feedparser = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.9"
